/* || universal behaviour */
*{

    font-size: min(2rem,24px);
}
body{
    background-image: linear-gradient(to left,rgba(0, 0, 255, 0.805),rgba(255, 0, 0, 0.819));
}
p{
    width: calc(70% - 5px);
    display: inline-table;

}
aside{
    width: calc(30% - 5px);
    display: inline-table;
    
}
