:root{
    --SET-COLOR-PINK:rgba(64, 40, 71, 0.911);
    --BGCOLOR:linear-gradient(to right,rgba(255,0,0,0),rgba(255,0,0,1))
}

h1{
    color:var(--SET-COLOR-PINK);
    background-image: var(--BGCOLOR);
}